<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DebtsManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A63982682025AB3600387B67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A63982762025AB4F00387B67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6DA22702020D5E40092650A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
